asgiref==3.10.0
dj-database-url==3.0.1
Django==5.2.8
psycopg2-binary==2.9.11
python-decouple==3.8
sqlparse==0.5.3

cloudinary==1.44.1
# pinned to latest PyPI-compatible release available for many environments
# available versions on PyPI include up to 0.3.0 at time of editing
django-cloudinary-storage==0.3.0
